<!-- Header comum para todas as páginas -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Guia Interativo de Git e GitHub</title>
<link rel="stylesheet" href="../styles.css">

<header>
    <h1>Guia Interativo LinuxGO</h1>
    <p>Aprenda a instalar, configurar e usar o Git e o GitHub e outras dicas para seus projetos Python!</p>
</header>

<nav>
    <ul>
        <li><a href="../index.html">Início</a></li>
        <li class="dropdown">
            <a href="#">Git Guide</a>
            <div class="dropdown-content">
                <a href="../instalacao.html">Instalação do Git</a>
                <a href="../configuracao.html">Configuração do Git</a>
                <a href="../github.html">Criando uma conta no GitHub</a>
                <a href="../comandos.html">Comandos Básicos</a>
            </div>
        </li>
        <li><a href="../python_iniciantes.html">Material para Iniciantes em Python</a></li>
        <li><a href="../uv.html">Instalando UV</a></li>
        <li><a href="../mentor.html">Meu Mentor</a></li>
        <li><a href="../doacao.html">Apoie o Projeto</a></li>
    </ul>
</nav>
